body{
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: radial-gradient(circle at left, #383737, #161616);
  color: #fff;
  padding: 5px 40px;
}

.navbar-left {
  display: flex;
  align-items: center;
}


.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 1px;
}

.nav-links li {
  margin-right: -8px;
}

.nav-links li:last-child {
  margin-right: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  justify-content: space-between;
  margin-right: 2px;
  padding: 25px;
  margin-left: 5px;
  left: 10px;
  
}

.nav-links a:hover{
    background: radial-gradient(circle at left, #383737, #161616);
  border-bottom: 2px solid goldenrod;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.login-button {
  padding: 6px 24px;
  border: 2px solid #fff;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  margin-right: 20px;

}
.login-button:active {
  transform: scale(0.98);
}

.signup-button {
  padding: 6px 24px;
  border: 2px solid #fff;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;

}
.signup-button:active {
  transform: scale(0.98);
}

.section_top {
  color: var(--text-color);
  background: radial-gradient(circle at right, #383737, #161616);
  padding-top: 20px;
  padding-bottom: 200px;
}

.foto{
  right: 0;
  position: absolute;
  top: 0;
  margin-top: 100px;
  width: 300px;
  margin-right: 100px;
  border-radius: 20px;
  padding-top: 10px;
  width: max-content;
}
.Title {
  font-size: 50px;
  font-weight: 600;
  padding-top: 50px;
  color: #cac7c7;
  padding-left: 60px;
}

.Konten {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #f1f1f1;
  padding-left: 60px;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items:center;
  min-height: 100vh;
  background-color: #161616;
}

a {
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #03e9f4;
  font-size: 1.2rem;
  font-weight: bold;
  transition: .5s;
  overflow: hidden;
  margin-right: 70px;
}

a:hover{
  background-color: #03e9f4;
  color: #161616;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);

}

a:first-child {
  filter: hue-rotate(225deg);
}

a:last-child {
  filter: hue-rotate(90deg);
}

a span{
  position: absolute;
  display: block;
}

a span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s infinite;
  animation-delay: .25;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}

a span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s infinite;
  animation-delay: .5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  100% {
    right: 100%;
  }
}
a span:nth-child(4) {
  bottom: -100%;
  right: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s infinite;
  animation-delay: .75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 100%;
  }
}

footer {
    background-color: var(--background-color);
    padding: 20px 0;
    background: radial-gradient(circle at left, #383737, #161616);
  
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-section {
    text-align: center;
    padding-bottom: 100px;
  }
  
  .footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    padding-bottom: 45px;
  }
  
  .icon{
    display: flex;
    justify-content: center;
    position: absolute;
    transform: translate(-50%, -50%);
    padding-bottom: 20px;
    align-items: center;  
    margin-left: 580px;
  }
  
  .icon a {
    position: relative;
    color: var(--primary-color);
    font-size: 24px;
    width: 60px;
    height: 60px;
    display: block;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    background-color: white;
    line-height: 60px;
    margin: 0 15px;
    border-radius: 50%;
    box-shadow: 0 5px 4px rgba(0,0,0,0.5);
    transition: 0.5s ease;
  }
  
  .icon a:hover {
    color:var(--secondary-color);
    color: white;
    transform: translate(0, -30px);
    box-shadow: 0 20px 8px rgba(0,0,0,0.7);
  }