body{
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: radial-gradient(circle at left, #383737, #161616);
  color: #fff;
  padding: 5px 40px;
}

.navbar-left {
  display: flex;
  align-items: center;
}


.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 1px;
}

.nav-links li {
  margin-right: -8px;
}

.nav-links li:last-child {
  margin-right: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  justify-content: space-between;
  margin-right: 2px;
  padding: 25px;
  margin-left: 5px;
  left: 10px;
  
}

.nav-links a:hover{
  background: radial-gradient(circle at left, #383737, #161616);
  border-bottom: 2px solid goldenrod;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.search {
  margin-right: 20px;
}

.search input[type="text"] {
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #151111;
  color: #f1f1f1;
}

.language {
  position: relative;
  cursor: pointer;
  border-radius: 7px;
  background-color: #5e7106;
  padding-top: 11px;
  padding-bottom: 13px;
  padding-right: 5px;
  padding-left: 5px;
}

.arrow-down {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  margin-left: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #070707;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 10px;
  border-radius: 10px;
  color: #f1f1f1;
  padding-right: 2px;
  margin-left: 0px;
  margin-right: 10px;
}

.dropdown-content a {
  color:rgb(248, 244, 244);
  padding: 12px 16px;
  text-decoration:#070707;
  display: block;
  border-radius: 10px;
  background-color: #070707;
}

.dropdown-content a:hover {
  background-color: #2a2929;
}

.show {
  display: block;
}

.show {
    display: block;
}

.section_top {
  color: var(--text-color);
  background: radial-gradient(circle at right, #383737, #161616);
  padding-top: 20px;
  padding-bottom: 135px;
}

.foto{
  right: 0;
  position: absolute;
  top: 0;
  margin-top: 100px;
  width: 300px;
  margin-right: 100px;
  border-radius: 20px;
  padding-top: 10px;
  width: max-content;
}
.Title {
  font-size: 50px;
  font-weight: 600;
  padding-top: 50px;
  color: #cac7c7;
  padding-left: 60px;
}

.Konten {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #f1f1f1;
  padding-left: 60px;
}

footer {
  background-color: var(--background-color);
  padding: 20px 0;
  background: radial-gradient(circle at left, #383737, #161616);
  padding-bottom: 100px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  }
  
  .footer-section {
    text-align: center;
    padding-bottom: 50px;
  }
  
  .footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    padding-bottom: 45px;
  }
  
  .icon{
      display: flex;
      justify-content: center;
      position: absolute;
      transform: translate(-50%, -50%);
      right:50px;
      padding-left: 880px;
      padding-bottom: 20px;
    }
  
  .icon a {
    position: relative;
    color: var(--primary-color);
    font-size: 24px;
    width: 60px;
    height: 60px;
    display: block;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    background-color: white;
    line-height: 60px;
    margin: 0 15px;
    border-radius: 50%;
    box-shadow: 0 5px 4px rgba(0,0,0,0.5);
    transition: 0.5s ease;
  }
  
  .icon a:hover {
    color:var(--secondary-color);
    color: white;
    transform: translate(0, -30px);
    box-shadow: 0 20px 8px rgba(0,0,0,0.7);
  }